/* Prevent vertical scrolling */
html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

  body {
    background-color: rgb(74, 101, 119);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Arrange children vertically */
    margin: 0;
    height: 100%;
  }

  .title {
    font-family: 'Brush Script MT', 'Lucida Handwriting', cursive;
    color: rgb(119, 62, 62);
    font-size: 22px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    text-align: center;
  }

  canvas {
    border: 1px solid white;
  }

  @media (max-width: 1000px) {
    body {
        align-items: normal;
        height: 90%;
    }
  }
